.page.style_round {
  .product_list {
    .item {
      box-shadow: none;
      .p_image {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        margin: auto;
        margin-bottom: -30px;
        position: relative;
        z-index: 2;
      }
      .p_info {
        padding-top: 40px;
        background: #fff;
        text-align: center;
        @include shadow;
      }
    }
  }
}
.page.nav_round {
  .swiper_nav {
    .swiper-slide {
      a {
        display: inline-block;
        border: 2px solid $color_default;
        padding: 0.25rem;
        border-radius: 50px;
        color: $color_default;
        background: #fff;
        width: 100%;
      }
      &-active {
        color: #fff;
        a {
          color: #fff;
          background: $color_default;
        }
        &::before {
          display: none;
        }
      }
    }
  }
}
.page.style_border {
  .product_list {
    .item {
      box-shadow: none;
      border: 3px solid $color_default;
      border-radius: 0;
      background: #fff;
      .p_image {
      }
      .p_info {
      }
    }
  }
}