@import "variables";
// popup
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  overflow-y: scroll;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  padding-bottom: 30px;
  min-height: 100vh;
  @include animation;
  opacity: 0;
  visibility: hidden;
  &.show {
    visibility: visible;
    opacity: 1;
    .popup_content {
      transform: scale(1);
    }
  }
  .popup_box {
    background: #fff;
    padding: 15px;
    @include shadow;
    border: 5px;
  }
  .popup_content {
    transform: scale(0);
    @include animation;
    margin-top: 15px;
    overflow: hidden;
    .p_content {
      position: relative;
      padding-bottom: 45px;
      background: #fff;
      border-radius: 0 0 8px 8px;
      overflow: hidden;
    }
  }
  .icon_close {
    @include icon_btn;
    position: absolute;
    right: 30px;
    top: 25px;
    z-index: 999;
    margin: 0;
  }

  .p_slider {
    height: 250px;
    background-image: url(../img/load.png);
    background-size: cover;
    background-position: center;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    position: relative;
    .p_img_slier {
      width: 100%;
      height: 250px;
      background-position: center;
      background-size: cover;
      background-image: url(../img/noimg.jpg);
    }
    .share {
      position: absolute;
      right: 10px;
      bottom: 10px;
      background: $color_LINE;
      color: #fff;
      padding: 0.05rem 0.5rem;
      border-radius: 3px;
      z-index: 9;
      font-size: 0.9rem;
      letter-spacing: 0.1em;
      &:hover {
        background: darken($color_LINE, 5%);
      }
    }
    @include desktop_sm {
      height: 300px;
      .p_img_slier {
        height: 300px;
      }
    }
  }

  .popup_info {
    @include shadow;
    border-radius: 8px;
    background: #fff;
    padding: 30px;
    text-align: center;

    h2 {
      font-size: 1.2rem;
      font-weight: bold;
      color: $color_default;
    }

    img {
      width: 50%;
    }
  }

  .p_info {
    background: #fff;
    border-radius: 0 0 8px 8px;
    max-height: calc(100vh - 325px);
    overflow-y: scroll;

    h3 {
      font-weight: bold;
      margin: 0.25rem 0;
    }

    hr {
      margin: 0.75rem 0;
      width: 50px;
      background: $color_default;
      height: 3px;
      border: 0;
    }

    .p_text {
      font-size: 0.9rem;
      border-bottom: 1px solid #d4d4d4;
      margin-bottom: 1rem;
    }
  }
  .p_price {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    h4 {
      color: $color_default;
      font-size: 1.1rem;
      font-weight: bold;
      margin-right: 0.5rem;
    }
    span {
      font-size: 0.8rem;
      margin: 0 0.15rem;
      &.point_cash {
        border: 1px solid $color_green;
        color: $color_green;
        padding: 0.05rem 0.5rem;
        border-radius: 3px;
      }
      &.point_heart {
        border: 1px solid $color_red;
        color: $color_red;
        padding: 0.05rem 0.5rem;
        border-radius: 3px;
      }
    }
  }
  .popup_footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fcfcfc;
    text-align: center;
    display: flex;
    border-radius: 0 0 8px 8px;

    .btn {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      font-weight: bold;
      &:nth-child(1) {
        border-radius: 0 0 0 8px;
      }
      &:nth-child(2) {
        border-radius: 0 0 8px 0;
      }
    }
  }

  .p_choose {
    .item {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      margin-bottom: 0.5rem;
    }

    h5 {
      margin: 0;
      margin-right: 0.75rem;
      color: #444;
    }

    

    .form-check {
      position: relative;
      display: flex;
      margin-right: 0.5rem;
      label {
        position: relative;
        vertical-align: middle;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        padding: 0 0.5rem;
        z-index: 9;
        color: #fff;
        .input_name {
          position: relative;
          z-index: 9;
        }
        .input_style {
          position: absolute;
          background: #b0b0b0;
          color: #fff;
          border-radius: 50px;
          display: inline-block;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
        input {
          opacity: 0;
          visibility: hidden;
          position: absolute;
        }
        input:checked+span{
          background: $color_default;
        }
      }
    }
    .radiobtn {
      position: relative;
      display: inline-block;
      top: 0;
      left: 0;
      height: 17px;
      width: 17px;
      background-color: #eee;
      border-radius: 50%;
      margin-right: 3px;
      cursor: pointer;
    }

    input:checked ~ .radiobtn {
      background-color: $color_default;
    }

    .radiobtn:after {
      content: "";
      position: absolute;
      display: none;
    }

    input:checked ~ .radiobtn:after {
      display: block;
    }

    .radiobtn:after {
      top: 25%;
      left: 25%;
      width: 50%;
      height: 50%;
      border-radius: 50%;
      background: white;
    }
  }
}

@include desktop_md {
  font-size: 18px;
  .p_choose label {
    font-size: 1.1rem;
  }
}

// modal

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease;
  &.modal_hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
