<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>快點快點</title>
    <link rel="stylesheet" href="css/swiper.min.css" />
    <link rel="stylesheet" href="css/sweetalert2.min.css" />
    <link rel="stylesheet" href="css/all.css" />
  </head>
  <body>
    <div class="page nav_round" id="app">
      <page-footer v-if="!popupShow"></page-footer>
      <div class="main">
        <div class="header_notice" v-if="!isOpen.open">
          目前尚未開放點餐功能！開放時間為 {{ isOpen.openTime }}
        </div>
        <header>
          <img src="img/logo_nav.png" alt="" />
          <!-- 如果沒有 LOGO -->
          <!-- <h1>餐廳名稱</h1> -->
        </header>
        <div class="content">
          <!-- 產品分類 -->
          <swiper
            class="swiper_nav"
            :options="swiperCategory"
            ref="mySwiper"
            @someSwiperEvent="swiper()"
          >
            <swiper-slide v-for="(item,key,index) in categorys" :key="index">
              <a :id="item.cateId" @click.prevent="changeProductList()">{{
                item.cateName
              }}</a>
            </swiper-slide>
          </swiper>
          <!-- 產品列表 -->
          <div class="product_list">
            <div
              class="col-md-4 col-6 p-0"
              :id="item.pId"
              v-for="(item,key,index) in productsList"
              :key="index"
            >
              <div class="item open_popup">
                <div
                  class="p_image"
                  @click="popupShow=!popupShow"
                  :style="{ 'background-image': 'url(' + item.pImg + ')' }"
                ></div>
                <div class="p_info">
                  <h3>{{ item.pName }}</h3>
                  <p class="font_price">NT${{ item.pPrice }}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- 產品詳情 -->
          <div class="popup" :class="{'show': popupShow }">
            <a
              href="#"
              class="icon_close iconfont icon-close1 popup_close"
              @click="popupShow = !popupShow"
            ></a>
            <div class="popup_content col-12 col-lg-6 col-md-8">
              <!-- 產品輪播 -->
              <div class="p_slider">
                <swiper
                  :options="swiperProductDetail"
                  id="swiperProductDetail"
                  class="swiper_product"
                  ref="mySwiper"
                  @someSwiperEvent="swiper()"
                >
                  <swiper-slide
                    v-for="(item,key,index) in productDetail.pImgArr"
                    :key="index"
                  >
                    <div
                      class="p_img_slier"
                      :style="{ 'background-image': 'url(' + item + ')' }"
                    ></div>
                  </swiper-slide>
                  <div class="swiper-pagination" slot="pagination"></div>
                </swiper>
                <a
                  :href="this.productDetail.shareLink"
                  target="_blank"
                  class="share"
                  ><i class="iconfont icon-share"></i>分享給好友</a
                >
              </div>
              <div class="p_content">
                <div class="p_info p-3">
                  <h3>{{ this.productDetail.pName }}</h3>
                  <hr />
                  <div class="p_price">
                    <h4>${{ this.productDetail.pPrice }}</h4>
                    <span class="point_cash"
                      ><i class="iconfont icon-coins"></i
                      ><b>{{ this.productDetail.pPointPrice }}</b> 點現金點數
                    </span>
                    <span class="point_heart"
                      ><i class="iconfont icon-Heart"></i
                      ><b>{{ this.productDetail.pPointHeart }}</b>
                      點愛心點數</span
                    >
                  </div>
                  <div class="p_text">
                    <p>{{ this.productDetail.pDescription }}</p>
                  </div>
                  <div class="p_choose">
                    <div
                      class="item"
                      v-for="(item,key,index) in productDetail.pOptions"
                      :key="index"
                    >
                      <h5>{{ item.sideName }} <span v-if="item.type=='checkbox'">（複）</span></h5>
                      <div
                        class="form-check"
                        v-for="(sideItem,key,itemIndex) in item.sideItems"
                        :key="itemIndex"
                      >
                        <label :for="sideItem">
                          <input
                            class="form-check-input"
                            :type="item.type"
                            :name="item.sideName"
                            :value="sideItem"
                            :id="sideItem"
                          />
                          <span class="input_style"></span>
                          <span class="input_name">{{ sideItem }}</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="popup_footer" v-if="isOpen.open">
                  <div class="btn btn_round btn_white count_box">
                    <a href="#" class="count_dis" @click.prevent="minusQty()"
                      >-</a
                    >
                    <a href="#" class="count_num">{{
                      this.productDetail.pQty
                    }}</a>
                    <a href="#" class="count_add" @click.prevent="addQty()"
                      >+</a
                    >
                  </div>
                  <a
                    href="#"
                    class="btn btn_round btn_default"
                    @click.prevent="alertAddcart"
                  >
                    <span>${{ this.productDetail.pPrice*this.productDetail.pQty }}</span
                    >｜加入點菜單
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.10.12/dist/sweetalert2.all.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/vue-awesome-swiper.js"></script>
  <script src="js/footer.js"></script>

  <script type="text/javascript">
    Vue.use(window.VueAwesomeSwiper);
    Vue.config.devtools = true;
  </script>
  <!-- json -->
  <script src="js/json/home.js"></script>
  <!-- vue data -->
  <script>
    var app = new Vue({
      el: "#app",
      data: homeData,
      methods: {
        // 切換分類
        changeProductList() {
          let vm = this;
          // 更改 vm.productsList
        },
        // 數量加減
        addQty() {
          let vm = this;
          vm.productDetail.pQty++;
        },
        minusQty() {
          let vm = this;
          if (vm.productDetail.pQty > 1) {
            vm.productDetail.pQty--;
          }
        },
        // 加入購物車
        alertAddcart() {
          // 如果成功的話
          this.popupShow = false;
          Swal.fire({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            icon: "success",
            title: "成功加入點菜單"
          });
          // 如果失敗的話
          // Swal.fire({
          //   position: "top-end",
          //   showConfirmButton: false,
          //   timer: 3000,
          //   icon: "error",
          //   title: "加入失敗，請重新操作！"
          // });
        }
      }
    });
    
  </script>
</html>
