<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>快點快點</title>
    <link rel="stylesheet" href="css/all.css" />
  </head>
  <body>
    <div class="page nav_round" id="app">
      <page-footer></page-footer>
      <div class="main pb-5 mb-4">
        <header>
          <a href="order.html" class="icon iconfont icon-left"></a>
          <h1>訂單詳情</h1>
        </header>
        <div class="content">
          <!-- 點餐列表 -->
          <div class="cart_list list_sm">
            <ul>
              <li
                class="item"
                v-for="(item,key,index) in orderList"
                :key="index"
              >
                <div
                  class="p_img"
                  :style="{ 'background-image': 'url(' + item.pImg + ')' }"
                ></div>
                <div class="p_info">
                  <div class="p_name">
                    <h3>{{ item.pName }}</h3>
                  </div>
                  <div class="p_choose">
                    <span
                      v-for="(inneritem,index) in item.pOptions"
                      :key="index"
                      >{{ inneritem }}</span
                    >
                  </div>
                  <div class="p_num">
                    <div class="color_green mr-2 ml-2">
                      <i class="iconfont icon-coins"></i
                      >{{ item.pointPrice * item.pQty }}
                    </div>
                    <div class="color_red">
                      <i class="iconfont icon-Heart"></i
                      >{{ item.pointHeart * item.pQty }}
                    </div>
                    <div class="p_price">
                      ${{ item.pPrice * item.pQty }} * {{ item.pQty }}
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="order_list mb-4">
            <ul>
              <li class="item total">
                <h4>
                  <div>
                    共 <b class="color_default">{{ orderQty }}</b> 份
                  </div>
                  <div>
                    現金點數共
                    <b class="color_green"
                      ><i class="iconfont icon-coins"></i>
                      {{ orderPointPrice }}</b
                    >
                    點
                  </div>
                  <div>
                    愛心點數共
                    <b class="color_red"
                      ><i class="iconfont icon-Heart"></i>
                      {{ orderPointHeart }}</b
                    >
                    點
                  </div>
                </h4>
                <span>${{ orderTotal }}</span>
              </li>
              <li class="item">
                <h4>電話</h4>
                <span>{{ orderInfo.phone }}</span>
              </li>
              <li class="item">
                <h4>取餐人</h4>
                <span>{{ orderInfo.name }}</span>
              </li>
              <li class="item">
                <h4>取餐時間</h4>
                <span>{{ orderInfo.pickTime }}</span>
              </li>
            </ul>
          </div>
          <div class="d-flex text-center">
            <div class="col-6">
              <a href="order.html" class="btn btn_lg btn_gray d-block"
                >返回列表</a
              >
            </div>
            <div class="col-6">
              <a href="#" class="btn btn_lg btn_default d-block">聯絡店家</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/footer.js"></script>

  <!-- vue data -->
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        orderList: [
          {
            pId: "1",
            pName: "清蒸蒜香帝王蝦",
            pImg:
              "https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60",
            pPrice: "200",
            pOptions: ["辣度：大辣", "洋蔥：加"],
            pQty: 1,
            pointPrice: 5,
            pointHeart: 7
          },
          {
            pId: "2",
            pName: "招牌綜合海鮮",
            pImg:
              "https://images.unsplash.com/photo-1563372522-8e97eac82f62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60",
            pPrice: "300",
            pOptions: ["辣度：小辣"],
            pQty: 2,
            pointPrice: 8,
            pointHeart: 3
          }
        ],
        orderInfo: {
          totalNum: "4",
          totalPrice: "500",
          name: "陳小黃",
          phone: "09123123123",
          pickTime: "2020/04/20"
        }
      },
      methods: {},
      computed: {
        orderQty() {
          let str = 0;
          this.orderList.forEach((item, i) => {
            str += item.pQty;
          });
          return str;
        },
        orderPointPrice() {
          let str = 0;
          this.orderList.forEach((item, i) => {
            str += item.pointPrice * item.pQty;
          });
          return str;
        },
        orderPointHeart() {
          let str = 0;
          this.orderList.forEach((item, i) => {
            str += item.pointHeart * item.pQty;
          });
          return str;
        },
        orderTotal() {
          let str = 0;
          this.orderList.forEach((item, i) => {
            str += item.pQty * item.pPrice;
          });
          return str;
        }
      }
    });
  </script>
</html>
